.container {
  width: 75%;
  height: 100%;
  display: flex;
  align-items: flex-end;
}
/* .projects {
  display: grid;
  grid-template-columns: repeat(4, 214.5px);
  grid-auto-rows: 214.5px;
  grid-gap: 75px;
} */
.height70 {
  height: 70%;
  position: relative;
}
