.images {
  width: 60%;
  height: 500px;
}
.gallery {
  width: 60%;
  height: 500px;
  background-color: #c4c4c4;
  position: relative;
}

.image {
  margin: 0 auto;
  height: 500px;
  cursor: pointer;
  background-color: white !important;
  width: 100%;
  object-fit: contain;
}

.arrow {
  position: absolute;
  color: lightgray;
  font-size: 24px;
  cursor: pointer;
  top: 0;
  transition: all ease-in-out 0.2s;
  height: 100%;
  width: 25%;
}
.next {
  right: 0;
}
.prev {
  left: 0;
}
.delay img {
  display: none;
}

.delete-btn-div {
  position: absolute;
  right: 50%;
  color: black;
  top: 50%;
  font-size: 1000px;
  z-index: 10000;
  cursor: pointer;
}
.delete-btn:hover {
  color: #c4c4c4;
}
