.wrapper {
  height: 560px;
}

.categories {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}
.category {
  padding-bottom: 1rem;
}
.category > a {
  color: #313d6b !important;
  font-size: 18px;
  font-weight: lighter !important;
  word-break: break-all;
}
.category > a > p::first-letter {
  font-weight: 600;
}
.category > a:active {
  color: #646e97 !important;
}
.categoryDetail {
  display: none;
  padding: 0;
  list-style: none;
}

.activeDetail {
  display: flex;
  flex-direction: column;
}
