.category {
  display: flex;
}
.category a {
  color: rgb(182, 179, 179) !important;
  padding: 0;
}
.category a:active {
  color: #445496 !important;
  padding: 0;
}
.activeDetailCategory > a {
  color: #313d6b !important;
  font-weight: bold !important;
}
