.header {
  position: fixed;
  left: 0;
  top: 0;
  height: 900px;
  width: 20%;
  padding: 3rem 0 3rem 5rem;
}
.logo {
  padding-top: 15px;
  height: 30%;
  display: flex;
  z-index: 1000;
}
.logo * {
  color: #313d6b !important;
  font-weight: bold;
  font-size: 28px;
  letter-spacing: 12px;
}

.login {
  padding-top: 24px;
  font-size: 15px;
}
